.card {
    margin: auto;
}

h1 {
    text-align: center;
}

#roster-header {
    text-align: center;
    margin: auto;
}

#roster-header img {
    width: 100px;
    height: 100px;
}

#item-header {
    text-align: center;
    margin: auto;
}

#item-header img {
    width: 100px;
    height: 100px;
}


#new-roster-form h4 {
    margin-top: 10px;
    margin-left: 20px;
}

#new-roster-form input[type="text"]{
    display: block;
    padding: 8px;
    width: 30%;
    margin: 20px;
}

#new-roster-form button {
    margin-left: 20px;
}

#new-item-form input[type="text"], input[type="number"]{
    display: block;
    padding: 8px;
    width: 30%;
    margin: 20px;
}

#new-item-form h4 {
    margin-top: 10px;
    margin-left: 20px;
}

#new-item-form button {
    margin-left: 20px;
}

#back-bttn {
    margin-bottom: 10px;
}

#welcome {
    border: 2px solid black;
}

@media (max-width: 500px){
    #new-roster-form input[type="text"]{
        display: block;
        padding: 8px;
        width: 50%;
        margin: 20px;
    }
    #new-roster-form input[type="text"]{
        display: block;
        padding: 8px;
        width: 50%;
        margin: 20px;
    }
    #new-item-form input[type="text"], input[type="number"]{
        display: block;
        padding: 8px;
        width: 50%;
        margin: 20px;
    }
    .card {
        margin: auto;
        width: 60%;
        text-align: center;
    }
}

